body {
    background-color: #1c1d22;
}

.app-container {
    width: fit-content;
    background-color: #393b44;
    box-shadow: 6px 6px 6px rgb(2, 2, 2);
    color: white;
}

.table {
    color: rgb(187, 187, 187);
}

.add-product-button {
    width: 230px;
    height: 50px;
    background-color: rgb(187, 187, 187);
    box-shadow: 4px 4px 8px rgb(34, 34, 34);
    border-radius: 10px;
    font-weight: bolder;
}

.buy-button {
    background-color: rgb(177, 230, 199);
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgb(34, 34, 34);
}

button:hover {
    box-shadow: none;
    background-color: white;
}
